@tailwind base;
@tailwind components;
@tailwind utilities;
 
 .inputs{
  background-color: transparent !important;
 }
 .selects{
    min-height: 12px !important;
 }
 .recharts-legend-item, .legend-item-0{
    display: none !important;
 }

 .container-sk {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }
 @media (min-width: 768px) {
   .container-sk {
     width: 720px;
   }
 }
 @media (min-width: 992px) {
   .container-sk {
     width: 960px;
   }
   
 }
 @media (min-width: 1200px) {
   .container-sk {
     width: 1140px;
   }
 }


 @media (min-width: 1400px) {
   .container-sk {
     width: 1320px;
   }
 }
 

 /* rotate css code here  */


.rotate-border {
  width: 100%;
  height: auto;
background-color: transparent;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-border::before {
  content: "";
  background-image: conic-gradient(
    green 70deg,
    transparent 0deg
  );
  z-index: 0;
  width: 180%;
  height: 150%;
  position: absolute;
  animation: rotate1 6s linear infinite;
  /* Add 2-second delay */

}

.rotate-border::after {
  content: "";
  background-image: conic-gradient(
    green 70deg,
    transparent 0deg
  );
  z-index: 0;
  width: 180%;
  height: 150%;
  position: absolute;
  animation: rotate2 6s linear infinite;
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(+180deg);
  }
}
